<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 11-30-2020
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   11-30-2020   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <lightning-card title="Sorting in LWC" icon-name="standard:opportunity" > 
        <br/>
        <div style="width: auto;">
            <template if:true={data}>
                <lightning-datatable data={data}
                                     columns={columns}
                                     key-field="id"
                                     sorted-by={sortBy}
                                     sorted-direction={sortDirection}
                                     onsort={handleSorting}
                                     hide-checkbox-column="true">
                </lightning-datatable>
            </template>

        </div>
    </lightning-card>
</template>